body {
    background: rgb(248, 248, 248);
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

textarea {
    font-family: "Montserrat", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body * {
    transition: all 0.5s ease-in-out;
}

main {
    margin-top: 120px;
    padding-bottom: 120px;
}

#pagination {
    display: none;
    cursor: pointer;
    border: 1px solid rgb(54, 54, 54);
    color: rgb(54, 54, 54);
    font-weight: bold;
    margin: 90px auto;
    width: 120px;
    text-align: center;
    padding: 10px;
}

.toggler {
    padding: 14px;
    background: rgb(36, 36, 36);
    position: fixed;
    top: 0px;
    width: 100%;
}

nav ul {
    list-style: none;
}

header {
    height: 500px;
    position: relative;
    z-index: -1;
    background: url("https://images.unsplash.com/photo-1573057497182-49fec46aca84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80") center;
    background-size:cover;
    margin-top: -50px;
}

header h1 {
    padding-top: 170px;
    font-size: 70px;
    margin-left: 200px;
    line-height: 70px;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    background: #222;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav h2 {
    color: #eee;
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #eee;
    display: block;
   
}

.sidenav a:hover {
    color: aquamarine;
}

.sidenav .closebtn{
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
}

#openNav {
    padding: 10px;
    border-radius: 4px;
    color: #eee;
    font-weight: bold;
    background: rgb(12, 12, 12);
    cursor: pointer;
}

#posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.post{
    width: 100%;
    max-width: 400px;
    margin: 10px;
}

.post > div {
    display: block;
    height: 300px;
    background-size: 150%;
    -webkit-box-shadow: 0px 10px 18px -12px rgba(97,97,97,1);
    -moz-box-shadow: 0px 10px 18px -12px rgba(97,97,97,1);
    box-shadow: 0px 10px 18px -12px rgba(97,97,97,1);
}


.post > div:hover {
    background-size: 100%;

}


form {
    width: 70%;
    margin: 0 auto;
}

form * {
    width: 100%;
    display: block;
    margin: 20px 0px;
    padding: 10px;
}


form input[type="submit"]{
    width: 120px;
    border: none;
    cursor: pointer;
}

#progressHandler {
    display: none;

}

.post > a {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

#loading {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

main.postContainer {
    width: 70%;
    margin: 0 auto;

}


#post img {
    width: 100%;
}

#post img {
    -webkit-box-shadow: 0px 10px 18px -12px rgba(97,97,97,1);
    -moz-box-shadow: 0px 10px 18px -12px rgba(97,97,97,1);
    box-shadow: 0px 10px 18px -12px rgba(97,97,97,1);
}

#edit, #delete {
    background: none;
    padding: 10px;
    margin-top: 40px;
    display: none;
}

#back {
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
    width: 50px;
    background: #222;
    color: #eee;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

#edit {
    border: 1px solid #ddd;
}

#delete {
   border: none;
   background: #ddd;
   color: #222;
   margin-top: 120px;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}
.lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: rgb(30, 0, 199);
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }